/* colors */
@--color-white: #ffffff;
@--color-black: #222326;
@--color-primary-light-1: #2763a4;
@--color-primary: #308df2;
@--color-primary-light-2: #246dbd;
@--color-primary-light-3: #1f77d8;
@--color-primary-light-4: #2482e9;
@--color-primary-light-5: #308df2;
@--color-primary-light-6: #61a8f6;
@--color-primary-light-7: #92c3f9;
@--color-primary-light-8: #c3defc;
@--color-primary-light-9: #f5f9fe;
/* Shadows */
$下横线: inset 0px -1px 0px 0px #e6e6e6;
$上横线: inset 0px 1px 0px 0px #e6e6e6;
$tab: inset 0px 1px 0px 0px #e6e6e6, inset -1px 0px 0px 0px #e6e6e6, inset 1px 0px 0px 0px #e6e6e6;
/* Borders */
$solid-1: 1px solid;
/* BorderRadiuses */
$radius-4: 4px;
$radius-100: 100px;
/* fonts */
$primary-font: PingFang SC;
$secondary-font: PingFang SC;
$noto-sans-sc-400: Noto Sans SC;
$noto-sans-sc-500: Noto Sans SC;
/* text styles*/
@mixin 标题-1-粗() {
  fontFamily : $noto-sans-sc-500;
  fontSize : 24px;
  lineHeight: 28px;
  letterSpacing : 0em;
}
@mixin 标题-2-粗() {
  fontFamily : $noto-sans-sc-500;
  fontSize : 22px;
  lineHeight: 28px;
  letterSpacing : 0em;
}
@mixin 标题-3-粗() {
  fontFamily : $noto-sans-sc-500;
  fontSize : 20px;
  lineHeight: 24px;
  letterSpacing : 0em;
}
@mixin 主题-粗() {
  fontFamily : $noto-sans-sc-500;
  fontSize : 18px;
  lineHeight: 24px;
  letterSpacing : 0em;
}
@mixin 副主题-粗() {
  fontFamily : $secondary-font;
  fontSize : 16px;
  lineHeight: 20px;
  letterSpacing : 0em;
}
@mixin 正文-粗() {
  fontFamily : $noto-sans-sc-500;
  fontSize : 14px;
  lineHeight: 20px;
  letterSpacing : 0em;
}
@mixin 说明-粗() {
  fontFamily : $noto-sans-sc-500;
  fontSize : 13px;
  lineHeight: 16px;
  letterSpacing : 0em;
}
@mixin 描述-粗() {
  fontFamily : $secondary-font;
  fontSize : 12px;
  lineHeight: 16px;
  letterSpacing : 0em;
}
@mixin 标题-1-常规() {
  fontFamily : $noto-sans-sc-400;
  fontSize : 24px;
  lineHeight: 28px;
  letterSpacing : 0em;
}
@mixin 标题-2-常规() {
  fontFamily : $noto-sans-sc-400;
  fontSize : 22px;
  lineHeight: 28px;
  letterSpacing : 0em;
}
@mixin 标题-3-常规() {
  fontFamily : $noto-sans-sc-400;
  fontSize : 20px;
  lineHeight: 24px;
  letterSpacing : 0em;
}
@mixin 主题-常规() {
  fontFamily : $noto-sans-sc-400;
  fontSize : 18px;
  lineHeight: 24px;
  letterSpacing : 0em;
}
@mixin 副主题-常规() {
  fontFamily : $noto-sans-sc-400;
  fontSize : 16px;
  lineHeight: 20px;
  letterSpacing : 0em;
}
@mixin 正文-常规() {
  fontFamily : $noto-sans-sc-400;
  fontSize : 14px;
  lineHeight: 20px;
  letterSpacing : 0em;
}
@mixin 说明-常规() {
  fontFamily : $noto-sans-sc-400;
  fontSize : 13px;
  lineHeight: 16px;
  letterSpacing : 0em;
}
@mixin 描述-常规() {
  fontFamily : $noto-sans-sc-400;
  fontSize : 12px;
  lineHeight: 16px;
  letterSpacing : 0em;
}
/* SpacePatterns */
$none: 0px;
$xx-small: 1px;
$x-small: 2px;
$small: 4px;
$regular: 8px;
$large: 16px;
$x-large: 32px;
$xx-large: 64px;
