/* colors */
@--color-white: #ffffff;
@--color-black: #222326;
@--color-primary-light-1: #2763a4;
@--color-primary: #308df2;
@--color-primary-light-2: #246dbd;
@--color-primary-light-3: #1f77d8;
@--color-primary-light-4: #2482e9;
@--color-primary-light-5: #308df2;
@--color-primary-light-6: #61a8f6;
@--color-primary-light-7: #92c3f9;
@--color-primary-light-8: #c3defc;
@--color-primary-light-9: #f5f9fe;
/* Shadows */
$下横线: inset 0px -1px 0px 0px #e6e6e6;
$上横线: inset 0px 1px 0px 0px #e6e6e6;
$tab: inset 0px 1px 0px 0px #e6e6e6, inset -1px 0px 0px 0px #e6e6e6, inset 1px 0px 0px 0px #e6e6e6;
/* Borders */
$solid-1: 1px solid;
/* BorderRadiuses */
$radius-4: 4px;
$radius-100: 100px;
/* SpacePatterns */
$none: 0px;
$xx-small: 1px;
$x-small: 2px;
$small: 4px;
$regular: 8px;
$large: 16px;
$x-large: 32px;
$xx-large: 64px;
