/* colors */
$--color-white:#ffffff;
$--color-white: #ffffff;
$--color-black:#222326;
$--color-black: #222326;
$--color-primary-light-1:#2763a4;
$--color-primary-light-1: #2763a4;
$--color-primary:#308df2;
$--color-primary: #308df2;
$--color-primary-light-2:#246dbd;
$--color-primary-light-2: #246dbd;
$--color-primary-light-3:#1f77d8;
$--color-primary-light-3: #1f77d8;
$--color-primary-light-4:#2482e9;
$--color-primary-light-4: #2482e9;
$--color-primary-light-5:#308df2;
$--color-primary-light-5: #308df2;
$--color-primary-light-6:#61a8f6;
$--color-primary-light-6: #61a8f6;
$--color-primary-light-7:#92c3f9;
$--color-primary-light-7: #92c3f9;
$--color-primary-light-8:#c3defc;
$--color-primary-light-8: #c3defc;
$--color-primary-light-9:#f5f9fe;
$--color-primary-light-9: #f5f9fe;
/* FigmaAutoLayout */
$16: [object Object];
$没边距: [object Object];
$08: [object Object];
$04: [object Object];
